{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>HANGMAN game</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static '' %}img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800|Montserrat:300,400,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/magnific-popup/magnific-popup.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static '' %}css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: Reveal
      Theme URL: https://bootstrapmade.com/reveal-bootstrap-corporate-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body id="body">
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <h1><a href="#body" class="scrollto">HangMan<span>game</span></a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="{% url 'starting' %}">Home</a></li>
                <li><a href="#services">Play</a></li>
                <li><a href="#invite">Invite your friend</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'history' %}">Score History</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<!--==========================
  Intro Section
============================-->
<section id="intro">

    <div class="intro-content">
        <h2>Invite <span>your friends</span><br>to play!</h2>
        <div>
            <a href="#services" class="btn-get-started scrollto">Play Now</a>
            <a href="#invite" class="btn-get-started scrollto">Invite your friend</a>
        </div>
        <p style="margin-top: 15px; color: #0c2e8a; font-weight: 700;">Difficulty: 
            <a href="/?difficulty=easy">Easy</a> | 
            <a href="/?difficulty=medium">Medium</a> | 
            <a href="/?difficulty=hard">Hard</a>
        </p>
    </div>


</section><!-- #intro -->

<main id="main">

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <h2>How I play?</h2>
                    <p>If the letter is contained in the word/phrase, the group or individual takes another turn
                        guessing a
                        letter. ...
                        If the letter is not contained in the word/phrase, click the Play Again button, a portion of the
                        hangman is added.</p>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <div class="box wow fadeInLeft">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <img id="imageMan" src="static/hangmanpict/{{ fault }}.jpg" alt="{{ fault }}"
                                     height="200px"
                                     width="150px">
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <span class="input-group-sm bottom-right">
                                    {% for w in word %}
                                        {% if w == "" %}
                                            <b id="wordLetter{{ forloop.counter }}"
                                               style="margin-right: 5px">___</b>
                                        {% else %}
                                            <b id="wordLetter{{ forloop.counter }}"
                                               style="margin-right: 5px">{{ w }}</b>
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-10 col-sm-12">
                            <span class="input-group-sm">
                                <a href="javascript:void(0)" id="a" onclick="wordUpd('a')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">A</a>
                                <a href="javascript:void(0)" id="b" onclick="wordUpd('b')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">B</a>
                                <a href="javascript:void(0)" id="c" onclick="wordUpd('c')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">C</a>
                                <a href="javascript:void(0)" id="d" onclick="wordUpd('d')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">D</a>
                                <a href="javascript:void(0)" id="e" onclick="wordUpd('e')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">E</a>
                                <a href="javascript:void(0)" id="f" onclick="wordUpd('f')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">F</a>
                                <a href="javascript:void(0)" id="g" onclick="wordUpd('g')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">G</a>
                                <a href="javascript:void(0)" id="h" onclick="wordUpd('h')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">H</a>
                                <a href="javascript:void(0)" id="i" onclick="wordUpd('i')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">I</a>
                                <a href="javascript:void(0)" id="j" onclick="wordUpd('j')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">J</a>
                            </span>
                                <span class="input-group-sm">
                                <a href="javascript:void(0)" id="k" onclick="wordUpd('k')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">K</a>
                                <a href="javascript:void(0)" id="l" onclick="wordUpd('l')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">L</a>
                                <a href="javascript:void(0)" id="m" onclick="wordUpd('m')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">M</a>
                                <a href="javascript:void(0)" id="n" onclick="wordUpd('n')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">N</a>
                                <a href="javascript:void(0)" id="o" onclick="wordUpd('o')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">O</a>
                                <a href="javascript:void(0)" id="p" onclick="wordUpd('p')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">P</a>
                                <a href="javascript:void(0)" id="q" onclick="wordUpd('q')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">Q</a>
                                <a href="javascript:void(0)" id="r" onclick="wordUpd('r')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">R</a>
                                <a href="javascript:void(0)" id="s" onclick="wordUpd('s')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">S</a>
                                <a href="javascript:void(0)" id="t" onclick="wordUpd('t')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">T</a>
                            </span>
                                 <span class="input-group-sm">
                                <a href="javascript:void(0)" id="u" onclick="wordUpd('u')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">U</a>
                                <a href="javascript:void(0)" id="v" onclick="wordUpd('v')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">V</a>
                                <a href="javascript:void(0)" id="w" onclick="wordUpd('w')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">W</a>
                                <a href="javascript:void(0)" id="x" onclick="wordUpd('x')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">X</a>
                                <a href="javascript:void(0)" id="y" onclick="wordUpd('y')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">Y</a>
                                <a href="javascript:void(0)" id="z" onclick="wordUpd('z')" class="btn btn-primary m-1"
                                   style="height: 40px; width: 40px; color: white">Z</a>
                            </span>
                            </div>
                            <a href="javascript:void(0)" id="hintButton" onclick="getHint()" class="btn btn-warning" style="font-size: 18px; margin-top: 25px; margin-left: 15px; color: white">
                                <i class="fa fa-lightbulb-o"></i> Hint</a>
                            <a hidden id="playAgain" style="font-size: 25px; margin-top: 25px; margin-left: 55px" href="{% url 'starting' %}">
                                <i class="fa fa-gamepad"></i> Play Again</a>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </section><!-- #services -->
    <section id="invite">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <h2>How can my friend play?</h2>
                    <p>Just pick a random word, of our database, copy the url for share and voilá!!</p>
                    <p>Dont forget ask to your friend a screenshot!!</p>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <div class="box wow fadeInLeft">
                        <a href="javascript:void(0)" id="generateNew" onclick="generateNewWord()" class="btn btn-primary"
                                   style="color: white">Generate new word</a>
                        <h2 id="wordRandom">{{ wordForFriend.word }}</h2> <br>
                        <label for="urlnewGame">Url for share</label>
                        <a target="_blank" id="urlnewGame" href="http://{{ domain }}/{{ wordForFriend.uui }}">http://{{ domain }}/{{ wordForFriend.uui }}</a>

                    </div>
                </div>


            </div>

        </div>

    </section><!-- #services -->
</main>
<input type="hidden" id="fault" value="1">
<input type="hidden" id="gameId" value="0">
<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>HangMan</strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Reveal
            -->
            Designed by <a target="_blank" href="https://bootstrapmade.com/">BootstrapMade</a> Customize by <a target="_blank" href="http://hectoralonsoremedios.pythonanywhere.com">Héctor Alonso Remedios</a>
        </div>
    </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- JavaScript Libraries -->
<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
<script>
    // The original template depended on jQuery. This fallback uses plain JavaScript
    // so the game still works even when the static jQuery library is missing.
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function setHtml(id, value) {
        const el = document.getElementById(id);
        if (el) { el.innerHTML = value; }
    }

    function setValue(id, value) {
        const el = document.getElementById(id);
        if (el) { el.value = value; }
    }

    function getValue(id) {
        const el = document.getElementById(id);
        return el ? el.value : '';
    }

    function addClass(id, className) {
        const el = document.getElementById(id);
        if (el) { el.classList.add(className); }
    }

    function removeClass(id, className) {
        const el = document.getElementById(id);
        if (el) { el.classList.remove(className); }
    }

    function setImage(number) {
        const image = document.getElementById('imageMan');
        if (image) {
            image.src = '/static/hangmanpict/' + number + '.jpg';
            image.alt = number;
        }
    }

    function showPlayAgain() {
        const playAgain = document.getElementById('playAgain');
        if (playAgain) { playAgain.removeAttribute('hidden'); }
    }

    function encodeForm(data) {
        const params = new URLSearchParams();
        Object.keys(data).forEach(function (key) {
            params.append(key, data[key]);
        });
        return params;
    }

    function postForm(url, data) {
        return fetch(url, {
            method: 'POST',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8',
                'X-CSRFToken': getCookie('csrftoken') || ''
            },
            body: encodeForm(data)
        }).then(function (response) {
            return response.json().then(function (json) {
                if (!response.ok) {
                    throw json;
                }
                return json;
            });
        });
    }

    function generateNewWord() {
        fetch('{% url "generate-word" %}', {credentials: 'same-origin'})
            .then(function (response) { return response.json(); })
            .then(function (data) {
                setHtml('wordRandom', data.word);
                const url = 'http://' + data.domain + '/' + data.uuid;
                const link = document.getElementById('urlnewGame');
                if (link) {
                    link.href = url;
                    link.innerHTML = url;
                }
            })
            .catch(function () {
                alert('Could not generate a new word.');
            });
    }

    function getHint() {
        const gameId = getValue('gameId');
        postForm('{% url "hint" %}', {'gameId': gameId})
            .then(function (data) {
                setValue('gameId', data.gameId);
                addClass('hintButton', 'disabled');
                for (let i = 0; i < data.wordArray.length; i++) {
                    if (data.wordArray[i] !== '') {
                        setHtml('wordLetter' + (i + 1).toString(), data.wordArray[i]);
                    }
                }
                alert('Hint revealed: ' + data.hint.toUpperCase());
            })
            .catch(function (error) {
                alert(error && error.error ? error.error : 'Hint unavailable.');
            });
    }

    function wordUpd(letter) {
        const wordId = '{{ wordId }}';
        const fault = getValue('fault');
        const gameId = getValue('gameId');

        postForm('{% url "updated-word-game" %}', {
            'wordId': wordId,
            'faults': fault,
            'letter': letter,
            'gameId': gameId
        }).then(function (data) {
            if (data.gameId) {
                setValue('gameId', data.gameId);
            }

            if (data.lose) {
                setImage(7);
                showPlayAgain();
                alert('You lose, the word is ' + data.word);
                return;
            }

            if (data.wordArray) {
                for (let i = 0; i < data.wordArray.length; i++) {
                    if (data.wordArray[i] !== '') {
                        setHtml('wordLetter' + (i + 1).toString(), data.wordArray[i]);
                    }
                }
            }

            if (data.win) {
                removeClass(letter, 'btn-primary');
                addClass(letter, 'btn-success');
                addClass(letter, 'disabled');
                setImage(8);
                showPlayAgain();
                alert('You win');
                return;
            }

            if (data.fault === 0) {
                removeClass(letter, 'btn-primary');
                addClass(letter, 'btn-success');
                addClass(letter, 'disabled');
            } else {
                setValue('fault', data.fault);
                setImage(data.fault);
                removeClass(letter, 'btn-primary');
                addClass(letter, 'btn-danger');
                addClass(letter, 'disabled');
            }
        }).catch(function (error) {
            alert(error && error.error ? error.error : 'Invalid game request. Refresh the page and try again.');
        });
    }

    // Allow keyboard input as well as clicking the on-screen buttons.
    document.addEventListener('keydown', function (event) {
        const letter = event.key.toLowerCase();
        if (/^[a-z]$/.test(letter)) {
            const button = document.getElementById(letter);
            if (button && !button.classList.contains('disabled')) {
                wordUpd(letter);
            }
        }
    });

</script>

</body>
</html>
